<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>address_client</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>AddressServlet</display-name>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>main.java.controller.address.AddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/AddressServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CityServlet</display-name>
        <servlet-name>CityServlet</servlet-name>
        <servlet-class>main.java.controller.city.CityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CityServlet</servlet-name>
        <url-pattern>/CityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>RegionServlet</display-name>
        <servlet-name>RegionServlet</servlet-name>
        <servlet-class>main.java.controller.region.RegionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegionServlet</servlet-name>
        <url-pattern>/RegionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CountryServlet</display-name>
        <servlet-name>CountryServlet</servlet-name>
        <servlet-class>main.java.controller.country.CountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountryServlet</servlet-name>
        <url-pattern>/CountryServlet</url-pattern>
    </servlet-mapping>
</web-app>