<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>address_client</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>ComputerServlet</display-name>
        <servlet-name>ComputerServlet</servlet-name>
        <servlet-class>main.java.controller.computer.ComputerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComputerServlet</servlet-name>
        <url-pattern>/ComputerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>VisitorServlet</display-name>
        <servlet-name>VisitorServlet</servlet-name>
        <servlet-class>main.java.controller.address.VisitorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitorServlet</servlet-name>
        <url-pattern>/VisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>VisitServlet</display-name>
        <servlet-name>VisitServlet</servlet-name>
        <servlet-class>main.java.controller.visit.VisitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitServlet</servlet-name>
        <url-pattern>/VisitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ComputerStatusServlet</display-name>
        <servlet-name>ComputerStatusServlet</servlet-name>
        <servlet-class>main.java.controller.computerStatus.ComputerStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComputerStatusServlet</servlet-name>
        <url-pattern>/ComputerStatusServlet</url-pattern>
    </servlet-mapping>
</web-app>